body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin: 20px;
    justify-content: center;
}

.item-card {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.item-card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


#item-detail {
    margin: 20px;
}

#item-detail img {
    max-width: 100%;
    height: auto;
}

#back-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

#back-button:hover {
    background-color: #0056b3;
}
