<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
    <title>{{title}}
      -
      {{subTitle}}</title>

  </head>

  <body>

    {% block title %}{% endblock %}
    <header>
      {% block header %}{% endblock %}
      {% include "blocks/header.html" %}
    </header>
    {# <main> #}
    {% block content %}{% endblock %}
    {# </main> #}
    <footer>
      {% block footer %}{% endblock %}
      {% include "blocks/footer.html" %}
    </footer>

  </body>

</html>