{% set title = "ログインシステム" %}
{% set subTitle = "トップページ" %}
{% extends 'layouts/base.html' %}

{% block title %}
<h1>ログインシステム</h1>
{% endblock %}

{% block head %}{% endblock head %}
{% block header %}{% endblock header %}
{% block content %}

<h2>Login</h2>
<a href="{{ url_for('LoginSystem01.login' ) }}">ログイン_浦</a>
<a href="{{url_for('APP2.APP2A')}}">ログイン_藤井</a>
<a href="{{url_for('APP06_2.login')}}">ログイン_中島</a>
<a href="{{ url_for('LoginSystem04.login' ) }}">ログイン_木村</a>

{% endblock content %}
{% block footer %}
{% include "blocks/footer.html" %}
{% endblock footer %}