<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>Your Cart</h1>
    <ul>
      {% for item in cart_items %}
        <li>
          <h2>{{ item.product.name }}</h2>
          <img src="{{ url_for('static', filename=item.product.image) }}" alt="{{ item.product.name }}">
          <p>Price: ¥{{ item.product.price }}</p>
          <p>Quantity:
            {{ item.quantity }}</p>
        </li>
      {% endfor %}
    </ul>
    <a href="{{ url_for('main.checkout') }}">Checkout</a>
    <a href="{{ url_for('main.index') }}">Continue Shopping</a>
  </body>
</html>