<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>Login</h1>
    <form method="POST" action="{{ url_for('main.login') }}">
      {{ form.hidden_tag() }}
      <div>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
      </div>
      <div>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
      </div>
      <div>
        {{ form.submit() }}
      </div>
    </form>
    <a href="{{ url_for('main.index') }}">Back to Home</a>
  </body>
</html>