html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.A_SAN {
    color: red;
    background-color: pink;
}

.B_SAN {
    color: blue;
    background-color: azure;
}

.C_SAN { /* Cさん用のスタイルを追加 */
    color: green;
    background-color: lightgreen;
}

/* 残りのCSSは省略 */
