html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.coma {
    color: red;
    background-color: pink;
}

.comb {
    color: blue;
    background-color: azure;
}

header, footer {
    text-align: center;
    padding: 10px;
    margin: 10px;
}
main{
    text-align: left;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white; /* Optional: Set a background color for the footer */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}

main {
    padding-bottom: 60px; /* Ensure there's space for the fixed footer */
    overflow-y: auto; /* Enable scrolling */
    height: calc(100% - 120px); /* Adjust height to fit within the viewport */
}